.sidebar{
    border-right:0.5px solid black ;
    flex:1;
    min-height:100vh ;
    background-color: rgb(255, 255, 251);
    .top{
       
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo {
            font-size: 30px;
            font-weight: bolder;
            color: rgb(126, 156, 126);
        }
    }
    hr{
        height: 0;
        border:0.5px solid black ;
    }
    .center{
     
        padding-left: 10px ;
         
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            .title{
                font-size: 15px;
                font-weight: bold;
                color: rgb(92, 88, 88);
                margin-top: 15px;
                margin-bottom: 5px;
            }
            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                &:hover{
                    background-color: rgb(199, 231, 199);
                }
               .icon{
                   font-size: 20px;
                   color: rgb(101, 141, 101);
               } 
               span{
                   font-size: 14px ;
                   font-weight: bold;
             
                   margin-left: 10px;
               }
            }
        }
    }
    .buttom {
        display: flex;
        align-items: center;
        margin: 10px;

        .colorOption{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid darkseagreen;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: whitesmoke;
            }
            
            &:nth-child(2){
                background-color: black;
            }
            
          

        }
    }
}